.categories {
  padding: 90px 8%;
  background: white;
}

.section-heading {
  text-align: center;
  margin-bottom: 45px;
}

.section-heading span {
  color: #635bff;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 2px;
}

.section-heading h2 {
  font-size: 36px;
  margin: 10px 0;
}

.section-heading p {
  color: #777;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 18px;
}

.category-card {
  padding: 25px 15px;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 18px;
  transition: 0.3s;
  background: #fff;
}

.category-card:hover {
  transform: translateY(-7px);
  border-color: #d9d6ff;
  box-shadow: 0 15px 35px rgba(50, 50, 100, 0.08);
}

.category-icon {
  width: 65px;
  height: 65px;
  margin: auto;
  background: #f1f0ff;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.category-card h3 {
  margin-top: 15px;
  font-size: 15px;
}

.category-card p {
  color: #999;
  font-size: 11px;
  margin: 6px 0 12px;
}

.category-card button {
  border: none;
  background: none;
  color: #635bff;
  font-size: 12px;
  font-weight: 700;
}

@media (max-width: 1000px) {
  .category-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .category-container {
    grid-template-columns: repeat(2, 1fr);
  }
}